* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Navbar */
.nav-link {
  font-weight: 400px;
  text-transform: uppercase;
  color: black;
}

.navbar-nav .nav-item:hover .nav-link:hover {
  border-radius: 25px;
  transform: translateY(3px);
  transition: transform 0.2s ease-in-out;
}

.btn-outline-danger {
  border: none;
  border-radius: 0%;
  width: 107px;
  height: 40px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  color: black;
  border-color: transparent;
  font-size: 12px;
}
/* End Navbar */

/* jumbotron */
.judul {
  font-size: 97px;
  line-height: 122px;
  color: #020e35;
}
/* End Jumbotron */

/* Contact */
.container-question {
  font-style: normal;
  font-weight: 400;
  margin-top: 100px;
}

.judul-kolom-1-question {
  font-size: 30px;
  line-height: 38px;
  color: #020e35;
}

.title-kolom-1-question {
  color: #020e35;
  font-weight: 350;
}

.hear {
  line-height: 110px;
  color: #e73587;
}

/* Kolom 2 */
.form-label-question {
  font-weight: 400;
  line-height: 22px;
  color: #2c3241;
}

.text-placeholder-question {
  font-size: 18px;
  line-height: 36px;
  color: #2c3241;
}

.button-kolom-2-section-D {
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border-radius: 0%;
  color: black;
  border-color: transparent;
}
/* End Contact */

/* Footer */
footer {
  color: white;
  background-color: #020e35;
}
/* End Footer */

/* Styling button back to top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 24px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.back-to-top i {
  transition: transform 0.3s ease-in-out;
}

.back-to-top:hover i {
  transform: translateY(-2px);
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}
/* End Back to top */

/* Product */

.product1{
  background-color: #020e35;
}

.product2{
  background-color: #020e35;
}

u{
  color: brown;
}

.judul{
  color: #fff;
  display: flex;
  justify-content: center;
}

.brand-1{
  margin-right: 319px;
  display: flex;
  color: #fff;
}

.deskripsi-1{
  margin-right: 100px;
  margin-left: 4px;
  margin-top: 20px;
  color: #fff;
  display: flex;
}

.deskripsi-2{
  margin-right: 100px;
  margin-left: 4px;
  margin-top: 20px;
  color: #fff;
  display: flex;
  text-align: left;
}

.brand-2{
  margin-left: 300px;
  display: flex;
  color: #fff;
  margin-top: 20px;
}

.deskripsi-3{
  margin-right: 10px;
  margin-left: 259px;
  margin-top: 20px;
  color: #fff;
  display: flex;
}

.deskripsi-4{
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: #fff;
  display: flex;
  text-align: right;
}

.col{
  margin-top: 20px;
}


img.kanan {
  margin-top: 20px;
}


